[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-allauth = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.10"
