<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Endpoints</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
     <div class="container mt-4">
        <!-- Add a Browse API button on top right -->
        <a href="/api/" style="background-color: #4f868c; border: 0;" class="btn mb-3 btn-primary float-right">Browse API</a>
    <div class="container mt-4">
        <h1>API Endpoints</h1>
        <div class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                Products Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/products/</p>
                <p><strong>URL:</strong> /api/products/product_id</p>
                <p><strong>URL:</strong> /api/products/product_id/reviews</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>

        <div  class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                Customers Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/customers/</p>
                <p><strong>URL:</strong> /api/customers/customer_id</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>

        <div class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                Collections Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/collections/</p>
                <p><strong>URL:</strong> /api/collections/collection_id</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>

        <div class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                Orders Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/orders/</p>
                <p><strong>URL:</strong> /api/orders/order_id</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>
        <!-- Repeat the above card block for other endpoints -->
        <div class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                OrderItems Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/order_items/</p>
                <p><strong>URL:</strong> /api/order_items/order_item_id</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>
        <div class="card mt-4">
            <div style="background-color: #4f868c; border: 0; color: #fff;" class="card-header">
                Shipping Endpoint
            </div>
            <div class="card-body">
                <p><strong>URL:</strong> /api/shipping_address/</p>
                <p><strong>URL:</strong> /api/shipping_address/shipping_address_id</p>
                <p><strong>Methods:</strong> GET, POST, PUT, DELETE</p>
            </div>
        </div>
        <!-- Repeat the above card block for other endpoints -->

        <!-- Add a button to access the API -->
        <div class="mt-4">
            <a href="/api/" style="background-color: #4f868c; border:0;" class="btn mb-5 btn-primary">Browse API</a>
        </div>
    </div>

    <!-- Add Bootstrap and jQuery scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
