{% extends 'store/main.html' %}
{% block content %}
<div class="row">
  <div class="detail-card col-lg-5">
    <a href="{{ product.imageURL }}" target="_blank">
      <img class="thumbnail" src="{{ product.imageURL }}">
    </a>
    <div class="box-element product">
      <h6><strong>{{ product.name }}</strong></h6>
      <p>{{ product.description }}</p>
      <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
        Add to Cart
      </button>
      <h4 style="display: inline-block; float: right">
        <strong>GHC{{ product.price|floatformat:2 }}</strong>
      </h4>
    </div>
  </div>
</div>

    {% endblock content %}