{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-4 mb-4">
    <div class="card product-card">
      <img class="card-img-top product-image" src="{{ product.imageURL }}" alt="{{ product.name }}">
      <div class="card-body">
        <h6 class="card-title">{{ product.name }}</h6>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="product-price"><strong>GHC{{ product.price|floatformat:2 }}</strong></span>
          </div>
          <div>
            <button data-product="{{ product.id }}" data-action="add" class="btn btn-custom btn-outline-secondary add-btn update-cart">
              Add to Cart
            </button>
            <a class="btn btn-outline-success ml-2" href="{% url 'product-detail' product.id %}">
              View
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
